# Node.js dependencies
node-openai-app/backend/node_modules
/node_modules
/logs

# Environment variables
.env

# Personal files
node-openai-app/backend/texts/covers/*
/backend/texts/cv/*
/backend/texts/jobs/*
/backend/texts/bio/*
/backend/texts/company/*
/backend/texts/user/*
/backend/embeddinglinks.json
/backend/embeddings/*

# Logs
node-openai-app/backend/Logs
node-openai-app/backend/texts
node-openai-app/backend/logs
/backend/logs/*.txt
/backend/logs/*.json
../logs
../node_modules

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Build files
/dist
/build

# Temporary files
*.tmp
*.temp

# Coverage reports
/coverage

# Debug files
*.pid
*.seed
*.pid.lock

# Frontend-specific files
/frontend/node_modules
/frontend/build
/frontend/dist
node-openai-app/frontend/cv_public
node-openai-app/frontend/node_modules

# Miscellaneous
*.bak
*.orig